<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="shortcut icon" href="{{url_for('static',filename="assets/ico/favicon.png")}}">
        <link href="{{url_for('static',filename="assets/css/dotaleaf.css")}}" rel="stylesheet">

        {%if page_title %}
        <title>{{page_title}} - Market Browser</title>
        {% else %}
        <title>Market Browser</title>
        {% endif %}

        <!-- jQuery Plugins -->
        <script src="{{url_for('static',filename="assets/js/jquery-2.0.3.js")}}"></script>
        <script src="{{url_for('static',filename="assets/js/jquery.dataTables.js")}}"></script>
    </head>
    {% block body %}{%endblock%}

<!-- bootstrap -->

</html>
