{% extends "header.html" %}
{% block body %}
<body>
<div id="left_side">

</div>

<div id="market_list">

    {% for item in items %}
    <div class="market_item">
    <span class="item_name" style="color:{{item.quality_color}}">{{item.name}}</span>
    <span class="item_price">Price: {{item.price}}</span>
    <span class="item_quantity">Quantity: {{item.quantity}}</span>
    <span class="item_set">Set:<br />{{item.item_set}}</span>
    <span class="item_type">Type:<br />{{item.item_type}}</span>
    <span class="item_slot">Slot:<br />{{item.item_slot}}</span>
    <span class="item_hero">Hero:<br />{{item.hero}}</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/images/" + item.name_slug + ".png")}}"></div>
    <a href="{{item.market_link}}"><span class="span_link"></span></a>
    </div>
    {% endfor %}

</div>

<div id="selected_item">

</div>


</body>

{% endblock %}
