{% extends "header.html" %}
{% block body %}
<body>
<div id="left_side">

</div>

<div id="market_list">

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>

    <div class="market_item">
    <span class="item_name">Name</span>
    <span class="item_price">Price</span>
    <span class="item_quantity">Quantity</span>
    <span class="item_set">Set</span>
    <span class="item_type">Type</span>
    <span class="item_slot">Slot</span>
    <span class="item_hero">Hero</span>
    <div class="item_image_crop"><img class="item_image" src="{{url_for('static',filename="assets/css/test_item.png")}}"></div>
    <a href="http://www.google.com"><span class="span_link"></span></a>
    </div>
</div>

<div id="selected_item">

</div>


</body>

{% endblock %}
