{% extends "header.html" %}
{% block body %}
<body>
<div id="left_side">

</div>

<div id="market_list">

    {% for item in items %}
    <div class="market_item">
    <span class="item_name" style="color:{{item.quality_color}}">{{item.name}}</span>
    <span class="item_price">${{item.price}}</span>
    <span class="item_quantity">{{item.quantity}}</span>
    <span class="item_set">{{item.item_set}}</span>
    <span class="item_type">{{item.item_type}}</span>
    <span class="item_slot">{{item.item_slot}}</span>
    <span class="item_hero">{{item.hero}}</span>
    <img class="item_image" style="border-color: {{item.quality_color}}" src="{{url_for('static',filename="assets/images/" + item.name_slug + ".png")}}">
    <a href="{{item.market_link}}"><span class="span_link"></span></a>
    </div>
    {% endfor %}

</div>

<div id="selected_item">

</div>


</body>

{% endblock %}
